@font-face {
  font-family: 'Poppins';
  src: url('../src/fonts/poppins-medium-webfont.woff') format('woff2'),
       url('../src/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face{
  font-family: 'Poppins';
  src: local(Poppins), url(./fonts/Poppins/Poppins-Regular.ttf)
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

